@{
    var users = (ViewBag.Users as IEnumerable<AspNetCoreMvc.Redis.ViewModels.UserCreatedViewModel>).ToList();
    var scores = (ViewBag.Scores as IEnumerable<AspNetCoreMvc.Redis.ViewModels.HighscoreViewModel>).ToList();
}
<div class="row">
    <div class="col-md-6">
        <h2>Latest users added (Top 5)</h2>
        @if (users.Any())
        {
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Date Created</th>
                    </tr>
                    @for (var i = 0; i < users.Count; i++)
                    {
                        <tr>

                            <td>@(i + 1)</td>
                            <td>@users[i].FirstName @users[i].LastName</td>
                            <td>@users[i].CreatedOn</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="well">
                No users
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>Highscores (Top 5)</h2>
        @if (scores.Any())
        {
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    @for (var i = 0; i < scores.Count; i++)
                    {
                        <tr>

                            <td>@(i + 1)</td>
                            <td>@scores[i].FirstName @scores[i].LastName</td>
                            <td>@scores[i].Score</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="well">
                No users
            </div>
        }
    </div>
</div>